# Virtual Environment (libraries installed on your machine)
.venv/
venv/
env/
.env

# Python compilation cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Local raw datasets & models (too big for GitHub)
data/raw/
data/ptbxl/
data/cohort/
data/samples/
models/checkpoints/
*.pt
*.onnx
*.joblib
*.pkl

# IDE settings & OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit temporary state
.streamlit/